 .u-section-1 {
  background-image: url("images/DALLE2024-07-0811.27.29-Abannerimageforasavingsprojectwithagreencolorschemeandajungletheme.Inthecentertheresalargeshinygoldtrophysymbolizingsavin.jpeg");
  background-position: 50% 65.18%;
}

.u-section-1 .u-sheet-1 {
  min-height: 519px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 327px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 112px;
}

.u-section-2 .u-text-1 {
  margin: 30px auto;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 477px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 39px;
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 397px;
}

.u-section-3 .u-container-layout-1 {
  padding: 3px 0;
}

.u-section-3 .u-image-1 {
  height: 391px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 397px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px 29px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 327px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    filter: brightness(0.75);
    height: 322px;
    margin-top: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-3 .u-image-1 {
    height: 247px;
    margin-top: 128px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-3 .u-image-1 {
    height: 371px;
    margin-top: -2px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 236px;
  }

  .u-section-3 .u-image-1 {
    height: 234px;
    margin-top: 17px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 477px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 397px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 507px;
  height: 397px;
  margin: -2px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 397px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px 29px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 327px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    filter: brightness(0.75);
    height: 368px;
    margin-top: 100px;
    width: 470px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-4 .u-image-1 {
    height: 282px;
    width: 360px;
    margin-top: 128px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -2px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 236px;
  }

  .u-section-4 .u-image-1 {
    height: 266px;
    width: 340px;
    margin-top: 17px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 476px;
}

.u-section-5 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 290px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 202px;
  height: 129px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 30px 0 0 6px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 202px;
  height: 129px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 30px 0 0 6px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-5 .u-text-2 {
    width: 679px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 188px;
  }

  .u-section-5 .u-image-1 {
    inset: auto;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    inset: auto;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-5 .u-image-1 {
    height: 121px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 121px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 565px;
}

.u-section-6 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 34px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 396px;
  grid-auto-columns: 100%;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/hidden.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 0;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 5px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 32px;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: 680px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }
}